---
layout: default
---


<div class="container">
<div class="row">
  <div class="starter-template row col-sm-6">
    <h1>Immodestea-DB</h1>
    <p class="lead">A simple Tea Database. <br /> Type to search. Click on row headers to sort.</p>
  </div>

  <div class="starter-template col-sm-3">
  	<a href="/company/immodestea/business/"><h3>Business Intake</h3></a>
  	<a href="/company/immodestea/sample/"><h3>Sample Intake</h3></a>
  </div>
  <div class="starter-template col-sm-3">	
		<a href="/taster/intake/"><h3>Taster Intake</h3></a>
		<a href="/tea/tasting/"><h3>Tea Review</h3></a>
	</div>
</div>

{% include interactive-table.html %}

{% include map.html %}

</div><!-- /.container -->
