<style>
    .radio, .checkbox {position: relative; bottom: 8px;}
    .rowradio + .rowradio .radio {margin-top: 0px;}
    input[type="checkbox"], input[type="radio"] {position: relative; bottom: 1px;}
    input[type='number'] {-moz-appearance: textfield;}
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
    select.form-control {-webkit-appearance: none; -moz-appearance: none; appearance: none;  calc(100% - 17px) 60% no-repeat; background-size: auto 11px;}
    select.form-control::-ms-expand {display: none;}
</style>

{% if include.form %}
    {% assign formnumber = include.form | minus: 1 %}
{% else %}
    {% assign formnumber = 0 %}
{% endif %}
{% assign pageform = page.forms[formnumber] %}

{% if pageform.form_engine == 'netlify' %}
    <form name="{{ page.title }} {% if formnumber > 0 %}{{ formnumber | plus:1 }}{% endif %}" id="{{ page.url | slugify }}" class="form autofill" method="POST" action="{{ pageform.redirect }}" data-netlify="true" netlify-honeypot="_gotcha">
        <input type="hidden" name="_to" value="{{ pageform.to }}">
{% elsif pageform.form_engine == 'cloudcannon' %}
    <form id="{{ page.url | slugify }}" class="form autofill" method="POST" action="{{ pageform.redirect }}">
        <input type="hidden" name="_to" value="{{ pageform.to }}">
{% elsif pageform.form_engine == 'formspree' %}
    <form id="{{ page.url | slugify }}" class="form autofill" method="POST" action="https://formspree.io/{{ pageform.to }}">
        <input type="hidden" name="_next" value="{{ site.url }}{{ site.baseurl }}{{ pageform.redirect }}">
{% elsif pageform.form_engine == 'formbucket' %}
    <form id="{{ page.url | slugify }}" class="form autofill" method="POST" action="{{ pageform.to }}">
{% endif %}

    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_subject" value="{{ pageform.subject }}" />

    {% for item in pageform.fields %}
        {% if item.required %}{% assign requiredstar = '*' %}{% else %}{% assign requiredstar = '' %}{% endif %}
        {% if item.required %}{% assign requiredtext = '*' %}{% else %}{% assign requiredtext = '' %}{% endif %}

        {% if item.input_type == 'textarea' %}
        <div class="form-row form-group">
            <div class="col-sm-12">
                <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="{{ item.name }}">{{ item.placeholder }}{{ requiredstar }}</label>
                <textarea name="{{ item.name }}" name="{{ item.name }}" id="{{ item.name }}" cols="30" rows="10" class="form-control" {% if pageform.placeholders == true %}placeholder="{{ item.placeholder }}{{ requiredstar }}"{% endif %} ></textarea>
            </div>
        </div>
        {% elsif item.input_type == 'radio' %}
        <div class="options">
            <div class="col-sm-12">
                <div class="radio">
                    <label><input type="radio" name="{{ item.name }}" value="{{ item.placeholder }}" >{{ item.placeholder }}</label>
                </div>
            </div>
        </div>
        {% elsif item.input_type == 'checkbox' %}
        <div class="checkboxes" >
            <div class="col-sm-12">
                <div class="checkbox">
                    <label><input type="checkbox" name="{{ item.name }}" value="{{ item.placeholder }}" >{{ item.placeholder }}</label>
                </div>
            </div>
        </div>
        {% elsif item.input_type == 'recaptcha' %}
            <div class="form-group">
                {% if pageform.form_engine == 'netlify' %}
                    <div data-netlify-recaptcha></div>
                {% else %}
                    <div class="g-recaptcha" data-sitekey="{{ item.placeholder }}"></div>
                {% endif %}
            </div>
        {% elsif item.input_type == 'html' %}
            {{ item.placeholder }}
        {% elsif item.input_type == 'submit' %}
        <div class="form-group">
            <input type="{{ item.input_type }}" value="{{ item.placeholder }}" class="btn btn-primary" />
        </div>

        {% else %}
            {% if item.name == 'business' %}
                <div class="form-row form-group">
                    <div class="col-sm-10">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="businessname">企业名称{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="businessname" id="businessname" class="form-control" {% if pageform.placeholders == true %}placeholder="企业名称{{ requiredstar }}"{% endif %} >
                    </div>
                    <div class="col-sm-6">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="firstname">名字{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="firstname" id="firstname" class="form-control" {% if pageform.placeholders == true %}placeholder="名字{{ requiredstar }}"{% endif %} >
                    </div>
                    <div class="col-sm-6">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="lastname">姓{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="lastname" id="lastname" class="form-control" {% if pageform.placeholders == true %}placeholder="姓{{ requiredstar }}"{% endif %} >
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="email">电子邮件{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="email" id="email" class="form-control" {% if pageform.placeholders == true %}placeholder="电子邮件{{ requiredstar }}"{% endif %} >
                        </div>
                    <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="phone">电话号码{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="phone" id="phone" class="form-control" {% if pageform.placeholders == true %}placeholder="电话号码{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="website">网站{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="website" id="website" class="form-control" {% if pageform.placeholders == true %}placeholder="网站{{ requiredstar }}"{% endif %} >
                        </div>
                     </div>
                <div class="form-row form-group"> 
                    <div class="col-sm-12">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="address">地址{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="address" id="address" class="form-control" {% if pageform.placeholders == true %}placeholder="地址{{ requiredstar }}"{% endif %} >
                    </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="city">城市{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="city" id="city" class="form-control" {% if pageform.placeholders == true %}placeholder="城市{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="postalcode">邮政编码{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="postalcode" id="postalcode" class="form-control" {% if pageform.placeholders == true %}placeholder="邮政编码{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="country">国家{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="country" id="country" class="form-control" {% if pageform.placeholders == true %}placeholder="国家{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="region">州/省 {{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="region" id="region" class="form-control" {% if pageform.placeholders == true %}placeholder="州/省{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="import">进口条件{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="import" id="import" class="form-control" {% if pageform.placeholders == true %}placeholder="进口条件{{ requiredstar }}"{% endif %} >
                        </div>
                </div>

                        {% elsif item.name == 'sample' %}
                    <div class="col-sm-10">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="businessname">企业名称{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="businessname" id="businessname" class="form-control" {% if pageform.placeholders == true %}placeholder="企业名称{{ requiredstar }}"{% endif %} >
                    </div>
                    <div class="col-sm-10">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="email">电子邮件{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="email" id="email" class="form-control" {% if pageform.placeholders == true %}placeholder="电子邮件{{ requiredstar }}"{% endif %} >
                        </div>
                    <div class="form-row form-group">
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="sampleName">样品名称{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="sampleName" id="sampleName" class="form-control" {% if pageform.placeholders == true %}placeholder="样品名称{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="sampleName">样品ID{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="sampleID" id="sampleID" class="form-control" {% if pageform.placeholders == true %}placeholder="样品ID{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="grams">克在样品中{{ requiredstar }}</label>
                            <input type="numbers" name="grams" id="grams" class="form-control" {% if pageform.placeholders == true %}placeholder="克在样品中{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="price">价格 USD/kg{{ requiredstar }}</label>
                            <input type="numbers" name="price" id="price" class="form-control" {% if pageform.placeholders == true %}placeholder="价格 USD/kg{{ requiredstar }}"{% endif %} >
                        </div>
                        
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="quantity">可用数量{{ requiredstar }}</label>
                            <input type="numbers" name="quantity" id="quantity" class="form-control" {% if pageform.placeholders == true %}placeholder="可用数量{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="purchase">闵。 采购{{ requiredstar }}</label>
                            <input type="numbers" name="purchase" id="purchase" class="form-control" {% if pageform.placeholders == true %}placeholder="闵。 采购{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="grade">质量等级{{ requiredstar }}</label>
                            <input type="numbers" name="grade" id="grade" class="form-control" {% if pageform.placeholders == true %}placeholder="质量等级{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="appearance">描述外观{{ requiredstar }}</label>
                            <input type="textarea" name="appearance" id="appearance" class="form-control" {% if pageform.placeholders == true %}placeholder="描述外观{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="taste">描述味道{{ requiredstar }}</label>
                            <input type="textarea" name="taste" id="taste" class="form-control" {% if pageform.placeholders == true %}placeholder="描述味道{{ requiredstar }}"{% endif %} >
                        </div>  
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="cert">认证？ （以逗号分隔） {{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="cert" id="cert" class="form-control" {% if pageform.placeholders == true %}placeholder="认证？ （以逗号分隔） {{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="origin">农场位置{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="origin" id="origin" class="form-control" {% if pageform.placeholders == true %}placeholder="农场位置{{ requiredstar }}"{% endif %}>
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="cultivar">树种{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="cultivar" id="cultivar" class="form-control" {% if pageform.placeholders == true %}placeholder="树种{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="elevation">海拔{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="elevation" id="elevation" class="form-control" {% if pageform.placeholders == true %}placeholder="海拔{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="harvest-notes">收获笔记{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="harvest-notes" id="harvest-notes" class="form-control" {% if pageform.placeholders == true %}placeholder="收获笔记{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="processing">处理说明{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="processing" id="processing" class="form-control" {% if pageform.placeholders == true %}placeholder="处理说明{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="harvest-date">收获日期{{ requiredstar }}</label>
                            <input type="date" name="harvest-date" id="harvest-date" class="form-control" {% if pageform.placeholders == true %}placeholder="收获日期{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="finish-date">完成日期{{ requiredstar }}</label>
                            <input type="date" name="finish-date" id="finish-date" class="form-control" {% if pageform.placeholders == true %}placeholder="完成日期{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="recommended">推荐准备{{ requiredstar }}</label>
                            <input type="textarea" name="recommended" id="recommended" class="form-control" {% if pageform.placeholders == true %}placeholder="推荐准备{{ requiredstar }}"{% endif %} >
                        </div>

            {% else %}
                <div class="form-row form-group">
                    <div class="col-sm-12">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="{{ item.name }}">{{ item.placeholder }}{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="{{ item.name }}" id="{{ item.name }}" class="form-control" {% if pageform.placeholders == true %}placeholder="{{ item.placeholder }}{{ requiredstar }}"{% endif %} >
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}


