<style>
    .radio, .checkbox {position: relative; bottom: 8px;}
    .rowradio + .rowradio .radio {margin-top: 0px;}
    input[type="checkbox"], input[type="radio"] {position: relative; bottom: 1px;}
    input[type='number'] {-moz-appearance: textfield;}
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;}
    select.form-control {-webkit-appearance: none; -moz-appearance: none; appearance: none;  calc(100% - 17px) 60% no-repeat; background-size: auto 11px;}
    select.form-control::-ms-expand {display: none;}
</style>

{% if include.form %}
    {% assign formnumber = include.form | minus: 1 %}
{% else %}
    {% assign formnumber = 0 %}
{% endif %}
{% assign pageform = page.forms[formnumber] %}

{% if pageform.form_engine == 'formspree' %}
    <form id="{{ page.url | slugify }}" class="form autofill" method="POST" action="https://formspree.io/{{ pageform.to }}">
        <input type="hidden" name="_next" value="{{ site.url }}{{ site.baseurl }}{{ pageform.redirect }}">
{% endif %}

    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_subject" value="{{ pageform.subject }}" />

    {% for item in pageform.fields %}
        {% if item.required %}{% assign requiredstar = '*' %}{% else %}{% assign requiredstar = '' %}{% endif %}
        {% if item.required %}{% assign requiredtext = '*' %}{% else %}{% assign requiredtext = '' %}{% endif %}

        {% if item.input_type == 'textarea' %}
        <div class="form-row form-group">
            <div class="col-sm-12">
                <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="{{ item.name }}">{{ item.placeholder }}{{ requiredstar }}</label>
                <textarea name="{{ item.name }}" name="{{ item.name }}" id="{{ item.name }}" cols="30" rows="10" class="form-control" {% if pageform.placeholders == true %}placeholder="{{ item.placeholder }}{{ requiredstar }}"{% endif %} ></textarea>
            </div>
        </div>
        {% elsif item.input_type == 'radio' %}
        <div class="options">
            <div class="col-sm-12">
                <div class="radio">
                    <label><input type="radio" name="{{ item.name }}" value="{{ item.placeholder }}" >{{ item.placeholder }}</label>
                </div>
            </div>
        </div>
        {% elsif item.input_type == 'checkbox' %}
        <div class="checkboxes" >
            <div class="col-sm-12">
                <div class="checkbox">
                    <label><input type="checkbox" name="{{ item.name }}" value="{{ item.placeholder }}" >{{ item.placeholder }}</label>
                </div>
            </div>
        </div>
        {% elsif item.input_type == 'recaptcha' %}
            <div class="form-group">
                {% if pageform.form_engine == 'netlify' %}
                    <div data-netlify-recaptcha></div>
                {% else %}
                    <div class="g-recaptcha" data-sitekey="{{ item.placeholder }}"></div>
                {% endif %}
            </div>
        {% elsif item.input_type == 'html' %}
            {{ item.placeholder }}
        {% elsif item.input_type == 'submit' %}
        <div class="form-group">
            <input type="{{ item.input_type }}" value="{{ item.placeholder }}" class="btn btn-primary" />
        </div>

        {% else %}
            {% if item.name == 'business' %}
                <div class="form-row form-group">
                    <div class="col-sm-10">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="businessname">Business name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="businessname" id="businessname" class="form-control" {% if pageform.placeholders == true %}placeholder="Business name{{ requiredstar }}"{% endif %} >
                    </div>
                    <div class="col-sm-6">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="firstname">First name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="firstname" id="firstname" class="form-control" {% if pageform.placeholders == true %}placeholder="First name{{ requiredstar }}"{% endif %} >
                    </div>
                    <div class="col-sm-6">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="lastname">Last name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="lastname" id="lastname" class="form-control" {% if pageform.placeholders == true %}placeholder="Last name{{ requiredstar }}"{% endif %} >
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="email">Email{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="email" id="email" class="form-control" {% if pageform.placeholders == true %}placeholder="Email{{ requiredstar }}"{% endif %} >
                        </div>
                    <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="phone">Phone Number{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="phone" id="phone" class="form-control" {% if pageform.placeholders == true %}placeholder="Phone Number{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="website">Website{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="website" id="website" class="form-control" {% if pageform.placeholders == true %}placeholder="Website{{ requiredstar }}"{% endif %} >
                        </div>
                     </div>
                <div class="form-row form-group"> 
                    <div class="col-sm-12">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="address">Address{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="address" id="address" class="form-control" {% if pageform.placeholders == true %}placeholder="Address{{ requiredstar }}"{% endif %} >
                    </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="city">City{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="city" id="city" class="form-control" {% if pageform.placeholders == true %}placeholder="City{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="postalcode">Postal code{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="postalcode" id="postalcode" class="form-control" {% if pageform.placeholders == true %}placeholder="Postal code{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="country">Country {{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="country" id="country" class="form-control" {% if pageform.placeholders == true %}placeholder="Country{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="region">State/Province {{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="region" id="region" class="form-control" {% if pageform.placeholders == true %}placeholder="State/Province{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="import">Import Conditions{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="import" id="import" class="form-control" {% if pageform.placeholders == true %}placeholder="Import Conditions{{ requiredstar }}"{% endif %} >
                        </div>
                </div>

        {% elsif item.name == 'sample' %}
                    <div class="col-sm-10">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="businessname">Business name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="businessname" id="businessname" class="form-control" {% if pageform.placeholders == true %}placeholder="Business name{{ requiredstar }}"{% endif %} >
                    </div>
                    <div class="col-sm-10">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="email">Email{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="email" id="email" class="form-control" {% if pageform.placeholders == true %}placeholder="Email{{ requiredstar }}"{% endif %} >
                        </div>
                    <div class="form-row form-group">
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="sampleName">Name of Sample{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="sampleName" id="sampleName" class="form-control" {% if pageform.placeholders == true %}placeholder="Name of Sample{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="sampleName">Sample ID{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="sampleID" id="sampleID" class="form-control" {% if pageform.placeholders == true %}placeholder="Sample ID{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="grams">Grams in sample{{ requiredstar }}</label>
                            <input type="numbers" name="grams" id="grams" class="form-control" {% if pageform.placeholders == true %}placeholder="Grams{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="price">Price USD/kg{{ requiredstar }}</label>
                            <input type="numbers" name="price" id="price" class="form-control" {% if pageform.placeholders == true %}placeholder="Price{{ requiredstar }}"{% endif %} >
                        </div>
                        
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="quantity">Available Quantity{{ requiredstar }}</label>
                            <input type="numbers" name="quantity" id="quantity" class="form-control" {% if pageform.placeholders == true %}placeholder="Available Quantity{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="purchase">Min. Purchase{{ requiredstar }}</label>
                            <input type="numbers" name="purchase" id="purchase" class="form-control" {% if pageform.placeholders == true %}placeholder="Min. Purchase{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="grade">Quality Grade{{ requiredstar }}</label>
                            <input type="numbers" name="grade" id="grade" class="form-control" {% if pageform.placeholders == true %}placeholder="Quality Grade{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="appearance">Appearance{{ requiredstar }}</label>
                            <input type="textarea" name="appearance" id="appearance" class="form-control" {% if pageform.placeholders == true %}placeholder="Appearance{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="taste">Taste{{ requiredstar }}</label>
                            <input type="textarea" name="taste" id="taste" class="form-control" {% if pageform.placeholders == true %}placeholder="Taste{{ requiredstar }}"{% endif %} >
                        </div>  
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="cert">Certifications? (comma separated) {{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="cert" id="cert" class="form-control" {% if pageform.placeholders == true %}placeholder="ertifications? {{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="origin">Farm Location{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="origin" id="origin" class="form-control" {% if pageform.placeholders == true %}placeholder="Farm Location{{ requiredstar }}"{% endif %}>
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="cultivar">Cultivar{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="cultivar" id="cultivar" class="form-control" {% if pageform.placeholders == true %}placeholder="Cultivar{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="elevation">Elevation{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="elevation" id="elevation" class="form-control" {% if pageform.placeholders == true %}placeholder="Elevation{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="harvest-notes">Harvest Notes{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="harvest-notes" id="harvest-notes" class="form-control" {% if pageform.placeholders == true %}placeholder="Harvest Notes{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="processing">Processing Notes{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="processing" id="processing" class="form-control" {% if pageform.placeholders == true %}placeholder="Processing Notes{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="harvest-date">Harvest Date{{ requiredstar }}</label>
                            <input type="date" name="harvest-date" id="harvest-date" class="form-control" {% if pageform.placeholders == true %}placeholder="Harvest Date{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="finish-date">Finish Date{{ requiredstar }}</label>
                            <input type="date" name="finish-date" id="finish-date" class="form-control" {% if pageform.placeholders == true %}placeholder="Harvest Date{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="recommended">Recommended Preparation{{ requiredstar }}</label>
                            <input type="textarea" name="recommended" id="recommended" class="form-control" {% if pageform.placeholders == true %}placeholder="Recommended Preparation{{ requiredstar }}"{% endif %} >
                        </div>
 



            {% elsif item.name == 'taster' %}
                <div class="form-row form-group">
                    <div class="col-sm-6">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="firstname">First name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="firstname" id="firstname" class="form-control" {% if pageform.placeholders == true %}placeholder="First name{{ requiredstar }}"{% endif %} >
                    </div>
                    <div class="col-sm-6">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="lastname">Last name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="lastname" id="lastname" class="form-control" {% if pageform.placeholders == true %}placeholder="Last name{{ requiredstar }}"{% endif %} >
                    </div>                    
                    <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="email">Email{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="email" id="email" class="form-control" {% if pageform.placeholders == true %}placeholder="Email{{ requiredstar }}"{% endif %} >
                        </div>
                    <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="phone">Phone Number{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="phone" id="phone" class="form-control" {% if pageform.placeholders == true %}placeholder="Phone Number{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="website">Website{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="website" id="website" class="form-control" {% if pageform.placeholders == true %}placeholder="Website{{ requiredstar }}"{% endif %} >
                        </div>
                     </div>
                <div class="form-row form-group">
                    <div class="col-sm-10">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="tasterName">Business name{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="businessname" id="businessname" class="form-control" {% if pageform.placeholders == true %}placeholder="Business name{{ requiredstar }}"{% endif %} >
                    </div>                     
                <div class="form-row form-group"> 
                    <div class="col-sm-12">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="address">Address{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="address" id="address" class="form-control" {% if pageform.placeholders == true %}placeholder="Address{{ requiredstar }}"{% endif %} >
                    </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="city">City{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="city" id="city" class="form-control" {% if pageform.placeholders == true %}placeholder="City{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="postalcode">Postal code{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="postalcode" id="postalcode" class="form-control" {% if pageform.placeholders == true %}placeholder="Postal code{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="country">Country {{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="country" id="country" class="form-control" {% if pageform.placeholders == true %}placeholder="Country{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="region">State/Province {{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="region" id="region" class="form-control" {% if pageform.placeholders == true %}placeholder="State/Province{{ requiredstar }}"{% endif %} >
                        </div>
                </div>



            {% elsif item.name == 'tasting' %}
            <div><h3> Taster's Info </h3></div>
                <div class="form-row form-group"> 
                    <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="email">Email{{ requiredstar }} <a href="/taster/intake/">Register Here</a></label>
                            <input type="{{ item.input_type }}" name="email" id="email" class="form-control" {% if pageform.placeholders == true %}placeholder="Email{{ requiredstar }}"{% endif %} >
                    </div>
                </div>
                <div><h3> leaf's Info </h3></div>
                    <div class="form-row form-group"> 
                        <div class="col-sm-8">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="productName">Product Name{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="productName" id="productName" class="form-control" {% if pageform.placeholders == true %}placeholder="Product Name{{ requiredstar }}"{% endif %} >
                            </div>

                        <div class="col-sm-4">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="productID">Product ID{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="productID" id="productID" class="form-control" {% if pageform.placeholders == true %}placeholder="Product ID{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="distribName">Distributor's Name{{ requiredstar }}</label>
                            <input type="{{ item.input_type }}" name="distribName" id="distribName" class="form-control" {% if pageform.placeholders == true %}placeholder="Distributor Name{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-3">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="price">Price USD <select class="custom-select custom-select-sm">
  <option value="price-kg">kg</option>
  <option value="price-oz">oz</option>
</select>{{ requiredstar }}</label>
                            <input type="numbers" name="price" id="price" class="form-control" {% if pageform.placeholders == true %}placeholder="Price{{ requiredstar }}"{% endif %} >
                        </div>

                    </div>

                                           <div><h4> Variables </h4></div>
                    <div class="form-row form-group"> 
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="brewVes">Brewing vessel{{ requiredstar }}</label>
                            <input type="text" name="brewVes" id="brewVes" class="form-control" {% if pageform.placeholders == true %}placeholder="Brewing vessel{{ requiredstar }}"{% endif %} >
                        </div>                                                
                        <div class="col-sm-6">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="waterSrc">Water source{{ requiredstar }}</label>
                            <input type="text" name="waterSrc" id="waterSrc" class="form-control" {% if pageform.placeholders == true %}placeholder="Water source {{ requiredstar }}"{% endif %} >
                        </div>                                                                        
                        <div class="col-sm-3">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="waterVol">Water volume<select class="custom-select custom-select-sm">
  <option value="vol-ml">ml</option>
  <option value="vol-oz">oz</option>{{ requiredstar }}</label>
                            <input type="numbers" name="waterVol" id="waterVol" class="form-control" {% if pageform.placeholders == true %}placeholder="Water volume{{ requiredstar }}"{% endif %} >
                        </div>               
                        <div class="col-sm-3">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="waterVol">Water temp<select class="custom-select custom-select-sm">
  <option value="temp-F">°F</option>
  <option value="temp-C">°C</option>{{ requiredstar }}</label>
                            <input type="numbers" name="waterTemp" id="waterTemp" class="form-control" {% if pageform.placeholders == true %}placeholder="Water temp{{ requiredstar }}"{% endif %} >
                        </div>   
                                                <div class="col-sm-3">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="much-leaf">How much leaf? <select class="custom-select custom-select-sm">
  <option value="much-leaf-g">grams</option>
  <option value="much-leaf-tsp">leafspoons</option>{{ requiredstar }}</label>
                            <input type="numbers" name="much-leaf" id="much-leaf" class="form-control" {% if pageform.placeholders == true %}placeholder="How much leaf?{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="preparation">Preparation{{ requiredstar }}</label>
                            <input type="textarea" name="preparation" id="preparation" class="form-control" {% if pageform.placeholders == true %}placeholder="Desribe Preparation{{ requiredstar }}"{% endif %} >
                        </div>
                                            </div>

                                           <div><h4> Tea Description </h4></div>
                    <div class="form-row form-group"> 
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="appearance-dry-leaf">Appearance of dry leaf{{ requiredstar }}</label>
                            <input type="textarea" name="appearance-dry-leaf" id="appearance-dry-leaf" class="form-control" {% if pageform.placeholders == true %}placeholder="Appearance of dry leaf{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="pic-appearance-dry-leaf">
                          <label class="custom-file-label" for="customFile">Picture of dry leaf</label>
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="aroma-dry-leaf">Aroma of dry leaf{{ requiredstar }}</label>
                            <input type="textarea" name="aroma-dry-leaf" id="aroma-dry-leaf" class="form-control" {% if pageform.placeholders == true %}placeholder="Aroma of dry leaf{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="appearance-wet-leaf">Appearance of wet leaf{{ requiredstar }}</label>
                            <input type="textarea" name="appearance-wet-leaf" id="appearance-wet-leaf" class="form-control" {% if pageform.placeholders == true %}placeholder="Appearance of wet leaf{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="appearance-brew">Appearance of brew{{ requiredstar }}</label>
                            <input type="textarea" name="appearance-brew" id="appearance-brew" class="form-control" {% if pageform.placeholders == true %}placeholder="Appearance of brew{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="aroma-wet-leaf">Aroma of wet leaf{{ requiredstar }}</label>
                            <input type="textarea" name="aroma-wet-leaf" id="aroma-wet-leaf" class="form-control" {% if pageform.placeholders == true %}placeholder="Aroma of wet leaf{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="aroma-wet-liquid">Aroma of brew{{ requiredstar }}</label>
                            <input type="textarea" name="aroma-wet-liquid" id="aroma-wet-liquid" class="form-control" {% if pageform.placeholders == true %}placeholder="Aroma of wet liquid{{ requiredstar }}"{% endif %} >
                        </div>                        
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="flavor">Flavor of brew{{ requiredstar }}</label>
                            <input type="textarea" name="flavor" id="flavor" class="form-control" {% if pageform.placeholders == true %}placeholder="Flavor of first brew{{ requiredstar }}"{% endif %} >
                        </div>  
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="mouthfeel">Mouthfeel of brew{{ requiredstar }}</label>
                            <input type="textarea" name="mouthfeel" id="mouthfeel" class="form-control" {% if pageform.placeholders == true %}placeholder="Mouthfeel of First brew {{ requiredstar }}"{% endif %} >
                        </div>  
                                            </div>

                                           <div><h4> Later Brews </h4></div>
                    <div class="form-row form-group"> 
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="appearance-2nd-leaf">Appearance of second brewed leaf{{ requiredstar }}</label>
                            <input type="textarea" name="appearance-2nd-leaf" id="appearance-2nd-leaf" class="form-control" {% if pageform.placeholders == true %}placeholder="Appearance of second brewed leaf{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="aroma-2nd">Aroma of second brewed leaf{{ requiredstar }}</label>
                            <input type="textarea" name="aroma-2nd" id="aroma-2nd" class="form-control" {% if pageform.placeholders == true %}placeholder="Aroma of second brew{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="appearance-2nd-brew">Appearance of second brew{{ requiredstar }}</label>
                            <input type="textarea" name="appearance-2nd-brew" id="appearance-2nd-brew" class="form-control" {% if pageform.placeholders == true %}placeholder="Appearance of second brew{{ requiredstar }}"{% endif %} >
                        </div>
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="flavor-2nd">Flavor of second brew{{ requiredstar }}</label>
                            <input type="textarea" name="flavor-2nd" id="flavor-2nd" class="form-control" {% if pageform.placeholders == true %}placeholder="Flavor of Second brew{{ requiredstar }}"{% endif %} >
                        </div>  
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="mouthfeel-2nd">Mouthfeel of second brew{{ requiredstar }}</label>
                            <input type="textarea" name="mouthfeel-2nd" id="mouthfeel-2nd" class="form-control" {% if pageform.placeholders == true %}placeholder="Mouthfeel of Second brew{{ requiredstar }}"{% endif %} >
                        </div>                          
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="appearance-later">Appearance of subsequent brews{{ requiredstar }}</label>
                            <input type="textarea" name="appearance-later" id="appearance-later" class="form-control" {% if pageform.placeholders == true %}placeholder="Appearance of subsequent brews{ requiredstar }}"{% endif %} >
                        </div>
                                                <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="aroma-later">Aroma of subsequent brews{{ requiredstar }}</label>
                            <input type="textarea" name="aroma-later" id="aroma-wet" class="form-control" {% if pageform.placeholders == true %}placeholder="Aroma of subsequent brews{{ requiredstar }}"{% endif %} >
                        </div>                        
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="flavor">Flavor of subsequent brews{{ requiredstar }}</label>
                            <input type="textarea" name="flavor-later" id="flavor-later" class="form-control" {% if pageform.placeholders == true %}placeholder="Flavor of subsequent brews{{ requiredstar }}"{% endif %} >
                        </div>  
                        <div class="col-sm-12">
                            <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="mouthfeel-later">Mouthfeel of subsequent brews{{ requiredstar }}</label>
                            <input type="textarea" name="mouthfeel-later" id="mouthfeel-later" class="form-control" {% if pageform.placeholders == true %}placeholder="Mouthfeel of subsequent brews{{ requiredstar }}"{% endif %} >
                        </div>                          
                </div>







            {% else %}
                <div class="form-row form-group">
                    <div class="col-sm-12">
                        <label {% if pageform.placeholders == true %}class="sr-only"{% endif %} for="{{ item.name }}">{{ item.placeholder }}{{ requiredstar }}</label>
                        <input type="{{ item.input_type }}" name="{{ item.name }}" id="{{ item.name }}" class="form-control" {% if pageform.placeholders == true %}placeholder="{{ item.placeholder }}{{ requiredstar }}"{% endif %} >
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}


