
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto }

img.harney-logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 60vw ;}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #111111;
  font-family: "Titillium Web", sans-serif;
}




form {
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
}


h3 {
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    color: #454545;
    display: block;
    letter-spacing: 4px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 0.75em;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=shorttext], select {
  width: 25em;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date], select {
  width: 11em;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=numbers], select {
  width: 6em;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=price], select {
  width: 6em;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=textarea], select {
    width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=email], select {
  width: 25em;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=checkbox], select {
}


button {
  width: 100%;
  background-color: #4CAF50;
  font-color: white !important;
  padding: 14px 20px;
  margin: 8px 0 !important; 
  border: none;
  border-radius: 4px !important;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  padding: 20px;
}


foot p {
	text-align: center;
	margin-bottom: -15px;
}
